<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>展示博客</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <script type="text/javascript">
        function changePraisePicture(num) {
            alert(num);
            if (num==1 ){
                document.getElementsByTagName("img")[0].style.display="none";
                document.getElementsByTagName("img")[1].style.display="block";

            } else {
                document.getElementsByTagName("img")[0].style.display="block";
                document.getElementsByTagName("img")[1].style.display="none";
            }
        }
    </script>
    <script th:href="@{/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:href="@{/bootstrap/js/bootstrap.js}"></script>
</head>
<body>

    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" th:utext="${title}"></h3>
            </div>
            <div class="panel-body">
                <div th:utext="${content}"></div>
            </div>
        </div>
    </div>

   <div th:if="${isSelf} == 'false'">
        <a href="" th:if="${isPraise} == 'true'">
            <img src="/images/yesPraise.png">
        </a>
        <a href="" th:if="${isPraise} == 'false'">
            <img src="/images/noPraise.png">
        </a>
   </div>
</body>
</html>