<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action="/RegisterController/register" method="post">
        用户名:<input type="text" name="username">
        <div th:text="${username}"></div><br/>
        密码:<input type="password" name="password">
        <div th:text="${password}"></div><br/>
        密码:<input type="password" name="password2">
        <div th:text="${password2}"></div><br/>
        专业:<select name="professionalType3Id">
                <option value="1">哲学</option>
                <option value="2">逻辑学</option>
            </select>
        <br/>
        真实姓名:<input type="text" name="realName"/>
        <div th:text="${realName}"></div>
        <br/>
        生日:<input type="text" name="birth">例如:1997-9-1
        <div th:text="${birth}"></div><br/>
        电话:<input type="text" name="phone">
        <div th:text="${phone}"></div><br/>
        邮箱:<input type="text" name="email">
        <div th:text="${email}"></div><br/>
        描述:<textarea name ="description" cols="30" rows="3">
    </textarea>
        <input type="submit" value="确认"/>
        <div th:text="${existedUser}"></div>
    </form>
</body>
</html>