<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/PersonalInformationChangeController/updateProfessionType1">修改个人信息</a>
    <a href="/editController/write">写博客</a>
    <a href="/ArticleTypeController/articleType.html">分类管理</a>
    <a href="/viewBlogController/getArticle?pageNum=1&pageSize=1">我的博客</a>
    <a href="">我的消息</a>

    <form action="/SearchController/search" method="post">
        <input type="hidden" name="pageNum" value="1">
        <input type="hidden" name="pageSize" value="1">
        文章名:<input type="text"  name="title"><br/>
        文章类型:<input type="text" name="articleType"><br/>
        用户:<input type="text" name="username"><br/>
        <input type="submit" value="搜索"><br/>
    </form>

    <div th:each="article:${recommandArticles}">
        <a th:href="@{/viewBlogController/getArticleContent(id=${article.id})}">
            [[${article.title}]]
        </a> &nbsp;&nbsp;
        <h5>
            点赞数:[[${article.praiseNumber}]] &nbsp;
            差赞数:[[${article.negativeNumber}]] &nbsp;
            更新时间: [[${article.updateTime}]]&nbsp;
        </h5>
    </div>
</body>
</html>